name: Deploy Infra Workflows

on:
  push:
    branches:
      - main
    paths:
      - infra/dagster_defs.py
  workflow_dispatch:

jobs:
  upload:
    needs: build-pipeline-image
    runs-on: ubuntu-latest
    environment: production
    permissions:
      id-token: write # This is required for requesting the JWT
      contents: read  # This is required for actions/checkout
      packages: write # This is required for ACR import

    name: Copy dagster_defs.py to Azure File Share
    steps:

      # From: https://docs.github.com/en/actions/security-for-github-actions/security-hardening-your-deployments/configuring-openid-connect-in-cloud-providers#requesting-the-jwt-using-the-actions-core-toolkit
      - name: Install OIDC Client from Core Package
        run: npm install @actions/core@1.6.0 @actions/http-client
      - name: Get Id Token
        uses: actions/github-script@v8
        id: idtoken
        with:
          script: |
            const coredemo = require('@actions/core')
            const id_token = await coredemo.getIDToken('api://AzureADTokenExchange')
            coredemo.setOutput('id_token', id_token)

      - name: ACR Import
        uses: CDCgov/cfa-actions/runner-action@v1.5.0
        with:
          github_app_id: ${{ secrets.CDCENT_ACTOR_APP_ID }}
          github_app_pem: ${{ secrets.CDCENT_ACTOR_APP_PEM }}
          wait_for_completion: true
          print_logs: true
          script: |
            echo "Logging into Azure CLI"
            az login --service-principal \
            --username ${{ secrets.AZ_CLIENT_ID }} \
            --tenant ${{ secrets.AZ_TENANT_ID }} \
            --federated-token ${{ steps.idtoken.outputs.id_token }} \
            --output none

            FILE_NAME=dagster_defs.py
            FILE_SHARE='cfadagster'
            az storage file upload \
              --account-name "$FILE_SHARE" \
              --share-name "$FILE_SHARE" \
              --source "$FILE_NAME" \
              --path "dagster_home/$FILE_NAME"
