name: Deploy Infra Workflows

on:
  push:
    branches:
      - main
    paths:
      - infra/dagster_defs.py
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    environment: production
    name: Run Dagster job
    steps:
      - name: Run job
        uses: CDCgov/cfa-actions/runner-action@v1.5.0
        with:
          github_app_id: ${{ secrets.CDCENT_ACTOR_APP_ID }}
          github_app_pem: ${{ secrets.CDCENT_ACTOR_APP_PEM }}
          script: |
            echo "Cloning repo"
            git clone https://github.com/${{ github.repository }}.git && cd cfa-dagster

            echo "Running script"
            uv run scripts/update_definitions.py
